<div class="center-container">
  <div class="form-container">
    <div class="form-inline">
      <mat-form-field class="form-field">
        <input matInput [(ngModel)]="newTitle" placeholder="Add item...">
      </mat-form-field>
      <button mat-raised-button color="primary" class="ml-1" (click)="add(newTitle)">Add</button>
    </div>

    <div class="form-inline">
      <ul class="list-group list-group-flush mt-3">
        <li *ngFor="let item of items$ | async;" class="list-group-item m-0 p-0">
          <mat-form-field class="form-field mb-1">
            <input matInput readonly [ngModel]="item.title">
          </mat-form-field>
          <button mat-raised-button color="warn" class="mr-1" (click)="remove(item)">Remove</button>
        </li>
      </ul>
    </div>
  </div>
</div>
